@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 40%;
    background-color: rgb(185, 182, 182);
    font-family: poppins;
}

.profile-description h2, p, .button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-image img {
    width: 100%;
    border-radius: 15px;
}

.button-1, .connect-button {
    padding: 2% 4%;
}

.connect-button {
    font-family: poppins;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 1px 3px 5px grey;
    border-radius: 3px;
}

.connect-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    transition-delay: 0.1s;
}

