@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-family: Poppins, sans-serif ;
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.intro {
  width: 90%;
  margin: 0 auto;
}
.container {
  max-width: 200rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header__img {
  width: 300px;
  height: auto;
  justify-content: center;
}
.header__img img {
  border-radius: 64px;
}
.header__text {
  width: 45%;
  background-color: #d9d9d9;
  border-radius: 64px;
  justify-content: center;
  align-items: center;
}
.header__primary {
  font-size: 38px;
  color: #0245a3;
  text-align: center;
  padding-top: 35px;
}
.header__text button {
  width: 160px;
  padding: 7px;
  border-style: none;
  border-radius: 64px;
  background: #0245a3;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 160px;
}
.header__text a {
  text-decoration: none;
  color: #fff;
}
#section1 {
  padding-top: 20px;
  margin-left: 60px;
  width: 90%;
}
.paragraph {
  background: #0245a3;
  border-radius: 64px;
  display: flex;
  justify-content: center;
}
.paragraph p {
  color: #fff;
  font-size: 24px;
  width: 80%;
  text-align: center;
  font-weight: 600;
}
.horizantal-line {
  border-bottom: 5px solid black;
}



#menu {
  overflow: hidden; 
  background-color: #0245A3;
  height: 80px;
  border-radius: 64px;
}

.logo {
  float: left; 
  margin: 22;
  font-family: poppin;
  
}

.navigation {
  float: right; 
  background-color:#0245A3 ;
}

nav ul {
  list-style: none; 
  margin: 20;
  padding: 4;
  color: #ffff;
}

nav ul li {
  float: right; 
  margin-right: 5px; 
}

nav ul li a {
  text-decoration: none;
  color: #ffff; 
  margin-top: 5px;
  padding: 10px;
}


box-icon{
padding: 5px;
margin-left: 5px;
color: #ffff;
}
.services{
  display: flex;
  gap: 30px;
  
  
}
.service{
  background-color: #0245A3;
  height: 120px;
  width: 450px;
  border-radius: 14px;
  font-family: sans-serif;
  color: #4ca0bc;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  color: #ffff;
  
}

.service:hover{
  background-color: rgb(10, 0, 101);
  
}
